<!DOCTYPE html>

<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | About Us</title>
  </head>
  <body>
  	<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>The
<a href="http://firstapp11.herokuapp.com/help">Rils Tutorial is a project</a>
This is a sample
</p>
  </body>
</html>

