<!DOCTYPE html>
<% provide(:title, 'Contact') %>
<html>
 <head>
 	<title> Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
 </head>
 <body>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="firstapp11.herokuapp.com">contact page</a>
  sample application.
</p>
</body>
</html>