<% provide(:title, 'Help') %>
 <head>
 	<title>Ruby on Rails Tutorial Sample App | Help</title>
 </head>
   <body>
<h1>Help</h1>
<p>Get help on the ruby on Rails Tutorial at the 
<a href="http://firstapp11.herokuapp.com/help">Rils Tutorial help page</a>
</p>
</body>
</html>